.product-card {
    width: 400px;
    overflow: hidden;
  }
  
  .categories {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
  }
  
  .image img {
    max-height: 220px;
    object-fit: cover;
  }
  